* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 300px;
}

#popup-content {
    font-family: Ubuntu, sans-serif;
}

.hidden {
    display: none;
}

.button {
    margin: 3% auto;
    padding: 4px;
    text-align: center;
    cursor: pointer;
}
